@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
/*ทั้งหมด*/
*{
    box-sizing: border-box;
    font-family: "Noto Sans Thai", sans-serif;
}
/*หน้าเว็บ*/
body{
    margin : 0;
    background-color: rgb(212, 228, 210);
}
header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    position: relative;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
  
}
nav ul{
    margin: 0;
    display: flex;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-size: 16px;
    font-weight: 650;
    height: 80px;
    line-height: 80px;
    padding: 0px 18px;
    text-decoration: none;
    color: black;
    display: block;
   
}
nav ul li a:hover{
    background-color: gray;
    color: antiquewhite;
    transition: all .3s;   
    
}
.Logo{
    font-size: 30px;
    font-weight: 700;
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
}



